<div class="h-full w-full mt-4">
    <h2 class="text-center">Checkout</h2>

    <p-card styleClass="w-11 mx-auto p-4">
        <ng-template pTemplate="body">
            <p-table [value]="cart.items" responsiveLayout="scroll" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Title <p-sortIcon field="vin"></p-sortIcon></th>
                        <th pSortableColumn="img">Image</th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th style="width:4em"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.title }}</td>
                        <td><img [src]="product.imageUrl" [alt]="product.title" class="w-4rem h-4rem shadow-2" /></td>
                        <td>{{ product.price | currency }}</td>
                        <td>
                            <div class="flex align-items-center gap-2">
                                <p-button icon="pi pi-minus" [rounded]="true" [text]="true" severity="danger"
                                    (click)="onRemoveQuantity(product)"></p-button>

                                <span>{{ product.quantity }}</span>

                                <p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="success"
                                    (click)="onAddQuantity(product)"></p-button>
                            </div>
                        </td>
                        <td>{{ product.quantity * product.price | currency }}</td>
                        <td>
                            <p-button [rounded]="true" [text]="true" severity="danger" icon="pi pi-trash"
                                (onClick)="onRemoveFromCart(product)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="h-full w-full flex flex-column md:flex-row gap-2 justify-content-between align-items-center">
                <div class="flex justify-content-center align-items-center gap-4">
                    <button pButton label="Continue Shopping" class="p-button-warning" routerLink="/home"></button>
                </div>

                <div class="flex justify-content-center align-items-center gap-4">
                    <div class="flex gap-2 font-bold text-xl">
                        <span>Total:</span>
                        <span>{{getTotal(cart.items) | currency}}</span>
                    </div>

                    <button pButton label="Proceed to Checkout" (click)="showCheckout()"></button>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>