<div class="h-full w-full mt-4">
    <h2 class="text-center">Users</h2>

    <div class="w-10 mx-auto flex justify-content-end">
        <p-button label="Add User" (click)="showAddModal()"></p-button>

        <app-add-edit-user-modal [selectedUser]="selectedUser" [displayAddModal]="displayAddEditModal"
            (clickClose)="hideAddModal($event)" (clickAdd)="refreshTable($event)"></app-add-edit-user-modal>
    </div>

    <p-dataView styleClass="w-10 mt-2 mx-auto" [value]="users" layout="list" [paginator]="true" [rows]="5" [lazy]="true"
        (onLazyLoad)="getUsers($any($event))" [totalRecords]="metadata.totalUsers" [loading]="loading"
        class="w-10 md:w-7">
        <ng-template let-user pTemplate="listItem">
            <div class="w-full pb-3 flex flex-column xl:flex-row align-items-center justify-content-between">
                <div class="h-full w-full flex flex-column p-4 gap-2">
                    <div class="flex flex-column md:flex-row md:align-items-center">
                        <span class="md:col-6 xl:col-3">ID: {{user._id}}</span>
                        <span class="md:col-6 xl:col-3">Email: {{ user.email }}</span>
                    </div>

                    <div class="flex flex-column md:flex-row md:align-items-center">
                        <span class="md:col-6 xl:col-3">First Name: {{user.firstName}}</span>
                        <span class="md:col-6 xl:col-3">Last Name: {{user.lastName}}</span>
                    </div>

                    <div class="flex flex-column md:flex-row md:align-items-center">
                        <span class="md:col-6 xl:col-3">Age: {{user.age}}</span>
                        <span class="md:col-6 xl:col-3">Phone Number: {{user.phoneNumber}}</span>
                    </div>

                    <div class="flex flex-column md:flex-row md:align-items-center">
                        <span class="md:col-6 xl:col-3">Created At: {{user.createdAt}}</span>
                        <span class="md:col-6 xl:col-3">Updated At: {{user.updatedAt}}</span>
                    </div>
                </div>

                <div class="w-full xl:w-1 flex flex-row xl:flex-column justify-content-center gap-6">
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success"
                        (click)="showEditModal(user)"></button>

                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteUser(user)"></button>
                </div>
            </div>
        </ng-template>
    </p-dataView>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-tringle"></p-confirmDialog>
</div>