<div class="h-full w-full mt-4">
    <h2 class="text-center">Orders</h2>

    <div class="flex mx-auto h-full mt-2 p-2">
        <p-card class="col">
            <p-dataView class="mt-2" [value]="orders" layout="list" [paginator]="true" [rows]="5" [lazy]="true"
                (onLazyLoad)="getOrders($any($event))" [totalRecords]="metadata.totalOrders" [loading]="loading">
                <ng-template let-order pTemplate="listItem">
                    <div class="col-12">
                        <div class="h-full flex flex-column md:flex-row align-items-center justify-content-center p-4 gap-4">
                            <span>Transaction: {{order.transactionId}}</span>
                            <span>Total Price: {{ order.totalPrice | currency }}</span>
                            <span>Status: {{order.status}}</span>
                            <span>Created At: {{order.createdAt}}</span>
                            <span>Updated At: {{order.updatedAt}}</span>
                            <button pButton label="Details" (click)="goToDetails(order._id)"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </p-card>
    </div>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-tringle"></p-confirmDialog>
</div>